@model IngenOrderApp.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDelivery.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDelivery.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInstructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalInstructions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotefromCustomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotefromCustomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalImages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalImages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountInUSD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountInUSD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreferredFormat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferredFormat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreferredFileType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferredFileType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Reference)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Reference }) |
    @Html.ActionLink("Back to List", "Index")
</p>
